#logo {
  margin: 0 auto;
  max-width: 320px;
  padding: 40px 0;
}

#logo img {
  width: 300px;
  height: auto;
}

#login {
  max-width: 450px;
  margin: 0 auto;
  padding: 40px;
  background: #24222c;
  border-radius: 5px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

form .input-block label {
  font-size: 22px;
  display: block;
}

form .input-block input {
  padding: 15px 21px;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
  color: #d0ced9;
  background: #201e27;
  border: 0;
  border: 1px solid #d0ced9;
  border-radius: 5px;
}

form .input-block + .input-block {
  margin-top: 20px;
}

form .input-group {
  margin-top: 20px;
}

form .input-group label {
  color: #d0ced9;
  padding-left: 5px;
}

form .input-group input {
  margin: 12px 2px;
  margin-bottom: 26px;
}

form button {
  text-decoration: none;
  width: 100%;
  padding: 15px 20px;
  background: #d0ced9;
  color: #24222c;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.5s;
}

form button:hover {
  background: #24222c;
  color: #d0ced9;
}

form h2 {
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 15px;
}