@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: #121116;
  color: #d0ced9;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Righteous', cursive;
}